/** {*/
    /*margin: 10px;*/
/*}*/

.app {
    /*margin: 10px;*/
    /*background-color: black;*/
}

.text-black a{
    color: black;
}

/**
    Land.js
 */
.landing {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.landing.btn-selection {
    margin: 10px 0 10px 0;
}
